.center{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6699cc;
}

th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

  

.typing-effect {
  width: 10ch;
  animation: typing 1s steps(22), effect .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}
    
@keyframes effect {
  50% {
    border-color: transparent;
  }
}