<div class="center">
    <h1>Promena Lozinke</h1>
    <table>
        <tr>
            <td><b>Stara lozinka:</b></td>
            <td>
                <input type='password' [(ngModel)]='oldPassword'>
            </td>
        </tr>
        <tr>
            <td><b>Nova lozinka:</b></td>
            <td>
                <input type='password' [(ngModel)]='newPassword'>
            </td>
        </tr>
        <tr>
            <td><b>Potvrda nove lozinke:</b></td>
            <td>
                <input type='password' [(ngModel)]='repeatedNewPassword'>
            </td>
        </tr>
        <tr>
            <td colspan="1" align="center">
                <button (click)='changePassword()' class="button">Promeni</button>
            </td>
            <td colspan="1" align="center">
                <button (click)='back()' class="button">Nazad</button>
            </td>
        </tr>
    </table>
</div>


<simple-notifications></simple-notifications>
